.Container-fluid.about {
    background-color: rgb(243, 213, 156);
    position: relative;
    background-size: cover;
    background-position: center;
    color: black;
    opacity: 0.95;
    padding: 0;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    flex-direction: row;
    border-radius: 20px;
    margin-top: 5%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: white;
}

.mi-foto {
    border-radius: 50%;
    max-width: 90%;
    height: auto;
    margin-bottom: 3%;
    max-width: 300px;
}

.text-about {

    width: 80%;
    color: black;
    font-family: sans-serif;
    font-size: 2.5vh;
    text-align: justify;
    margin-left: 3%;

}

.titleAbout {
    font-size: 4vh;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
    margin-left: 20%;
}

.ImageRedes {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .text-content {
        margin-top: 2%;
    }

    .mi-foto {
        margin-bottom: 5%;
        max-width: 200px;
    }

    .text-about {
        font-size: 1.8vh;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        color: orange;
    }
}

@media (max-width: 480px) {
    .titleAbout {
        font-size: 4.5vh;
    }

    .text-about {
        font-size: 1.5vh;
    }

    .mi-foto {
        max-width: 150px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        color: orange;
    }
}