.contactpage{
  position: relative;
  background: url("https://www.xtrafondos.com/descargar.php?id=3593&resolucion=3840x2160") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: orange;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  opacity: 0.95;
}

.btn-submit{
  background-color: orange;
  border-color: orange;
}

.textcontact{
text-align: center;

}
