.carrousel{
    background: url('https://www.xtrafondos.com/descargar.php?id=3593&resolucion=3840x2160') no-repeat;
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: orange;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    margin: 0px;
}

.tamcarrousel{
    /* margin-left: %; */
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: row;
}
.demos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.colum{
    height:200px;
    font-size: 2vh;
}
.app{
    color: blue;
}
