.carrousel {
    background-color: rgb(243, 213, 156);
    position: relative;
    background-size: cover;
    background-position: center;
    color: black;
    opacity: 0.95;
    padding: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10%;
    /* padding-bottom: 5%; */
}

.ContentCard {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-bottom: 5%;


}

.card {
    width: 30%;
    margin: 1%;
    padding: 1%;
    background-color: rgba(233, 204, 111, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;

}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .coverCard img {
    transform: scale(1.1);
}

.coverCard {
    width: 100%;
    height: 80%;
    border-radius: 5%;
    overflow: hidden;
}

.coverCard img {
    width: 110%;
    transition: all 300ms;
}

.card h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 2%;
    color: black;
    text-align: center;

}

.card p {
    margin-top: 2%;
    font-size: 15px;
    font-weight: 500;
    color: black;
    letter-spacing: 0.5px;
}

.footerCard {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    color: black;
    justify-content: space-between;

}

.footerCard a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}


@media screen and (max-width: 1200px) {
    .ContentCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%;
        padding: 3%;
        margin-bottom: 3%
    }

}









.tamcarrousel {
    /* margin-left: %; */
    height: 75%;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: row;
}

.demos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colum {
    height: 200px;
    font-size: 2vh;
}

.text-center {
    color: orange;
}

.app {
    color: blue;
    font-size: 4vh;
}