.carrousel {
    background-color: black;
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: orange;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    margin: 0px;
    opacity: 0.95;
}

.tamcarrousel {
    /* margin-left: %; */
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: row;
}

.demos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colum {
    height: 200px;
    font-size: 2vh;
}

.app {
    color: blue;
    font-size: 4vh;
}