.skills{
    background: url('https://www.xtrafondos.com/descargar.php?id=3593&resolucion=3840x2160') no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: orange;
    padding-bottom: 8%;
    
}
.textskills{
    font-size: 30px;
    color: orange;
    text-align: center;

}
.soft{
    text-align: center;
    color: orange;
    font-size: 5vh;
    text-decoration: underline;
}
.fondoimg{
    background: white;
    border-radius: 10%;
    padding: 0.5%;
    margin: 5px;
    height: 15vh;
    width:13vh;
    color: orange;
}
.imgskills{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.titleskills{
    padding-top: 2%;
    font-size: 6vh;
}
.nameskills{
    color:black;
    text-align: center;
    font-size: 2vh;
    
}
.one{
    flex-direction: row;
  }
.iconsskills{
    font-size: 3vh;
    justify-content: center;
  }
.imgS{
    margin: 0.5vh;
    height: 9vh;
    width:9vh;
}